.devcontainer/
.git/
.github/
.phive/
build/
tests/
tools/
vendor/
.DS_Store
.editorconfig
.gitattributes
.gitignore
box.json
CHANGELOG.md
CLAUDE.md
CONTRIBUTING.md
Dockerfile
ecs.php
LICENSE
phpunit.xml
README.md
RELEASE.md
