<?xml version="1.0"?>
<yamllinter name="yaml-linter-config">
    <description>YAML Linter config.</description>
    <quiet>false</quiet>
    <includes>
        <path>foo.yaml</path>
        <path>src/Resources/config/*.yaml</path>
        <path>/config/bar.yaml</path>
    </includes>
</yamllinter>
