<?xml version="1.0"?>
<yamllinter name="yaml-linter-config">
    <description>YAML Linter config.</description>
    <quiet>false</quiet>
    <includes>
        <path>src/config/*.yml</path>
        <path>src/config/foo.yml</path>
    </includes>
    <excludes>
        <path>src/config/exclude.yml</path>
    </excludes>
</yamllinter>
