<?xml version="1.0"?>
<yamllinter name="yaml-linter-config">
    <description>YAML Linter config.</description>
    <quiet>false</quiet>
    <includes>
        <path>src/foo.yaml</path>
        <path>bar.yaml</path>
    </includes>
</yamllinter>
