name: CI

on: push

permissions:
  contents: read

jobs:
  version-check:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Verify APP_VERSION matches git tag
        env:
          GIT_TAG: ${{ github.ref_name }}
        run: |
          APP_VERSION=$(grep -oP "define\('APP_VERSION',\s*'\K[^']+" src/yaml-lint.php)
          if [ "$APP_VERSION" != "$GIT_TAG" ]; then
            echo "::error::APP_VERSION ($APP_VERSION) does not match git tag ($GIT_TAG)"
            exit 1
          fi
          echo "APP_VERSION ($APP_VERSION) matches git tag ($GIT_TAG)"

  includes_only:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # 5.6
          - php-versions: '5.6'
            phpunit-versions: '^5'
            symfony-versions: '^2'
          - php-versions: '5.6'
            phpunit-versions: '^5'
            symfony-versions: '^3'
          # 7.1
          - php-versions: '7.1'
            phpunit-versions: '^7'
            symfony-versions: '^2'
          - php-versions: '7.1'
            phpunit-versions: '^7'
            symfony-versions: '^3'
          - php-versions: '7.1'
            phpunit-versions: '^7'
            symfony-versions: '^4'
          # 7.2
          - php-versions: '7.2'
            phpunit-versions: '^8'
            symfony-versions: '^2'
          - php-versions: '7.2'
            phpunit-versions: '^8'
            symfony-versions: '^3'
          - php-versions: '7.2'
            phpunit-versions: '^8'
            symfony-versions: '^4'
          - php-versions: '7.2'
            phpunit-versions: '^8'
            symfony-versions: '^5'
          # 7.3
          - php-versions: '7.3'
            phpunit-versions: '^9'
            symfony-versions: '^2'
          - php-versions: '7.3'
            phpunit-versions: '^9'
            symfony-versions: '^3'
          - php-versions: '7.3'
            phpunit-versions: '^9'
            symfony-versions: '^4'
          - php-versions: '7.3'
            phpunit-versions: '^9'
            symfony-versions: '^5'
          # 7.4
          - php-versions: '7.4'
            phpunit-versions: '^9'
            symfony-versions: '^2'
          - php-versions: '7.4'
            phpunit-versions: '^9'
            symfony-versions: '^3'
          - php-versions: '7.4'
            phpunit-versions: '^9'
            symfony-versions: '^4'
          - php-versions: '7.4'
            phpunit-versions: '^9'
            symfony-versions: '^5'
          # 8.0
          - php-versions: '8.0'
            phpunit-versions: '^9'
            symfony-versions: '^3'
          - php-versions: '8.0'
            phpunit-versions: '^9'
            symfony-versions: '^4'
          - php-versions: '8.0'
            phpunit-versions: '^9'
            symfony-versions: '^5'
          - php-versions: '8.0'
            phpunit-versions: '^9'
            symfony-versions: '^6'
          # 8.1
          - php-versions: '8.1'
            phpunit-versions: '^10'
            symfony-versions: '^3'
          - php-versions: '8.1'
            phpunit-versions: '^10'
            symfony-versions: '^4'
          - php-versions: '8.1'
            phpunit-versions: '^10'
            symfony-versions: '^5'
          - php-versions: '8.1'
            phpunit-versions: '^10'
            symfony-versions: '^6'
          # 8.2
          - php-versions: '8.2'
            phpunit-versions: '^11'
            symfony-versions: '^3'
          - php-versions: '8.2'
            phpunit-versions: '^11'
            symfony-versions: '^4'
          - php-versions: '8.2'
            phpunit-versions: '^11'
            symfony-versions: '^5'
          - php-versions: '8.2'
            phpunit-versions: '^11'
            symfony-versions: '^6'
          - php-versions: '8.2'
            phpunit-versions: '^11'
            symfony-versions: '^7'
          # 8.3
          - php-versions: '8.3'
            phpunit-versions: '^11'
            symfony-versions: '^3'
          - php-versions: '8.3'
            phpunit-versions: '^11'
            symfony-versions: '^4'
          - php-versions: '8.3'
            phpunit-versions: '^11'
            symfony-versions: '^5'
          - php-versions: '8.3'
            phpunit-versions: '^11'
            symfony-versions: '^6'
          - php-versions: '8.3'
            phpunit-versions: '^11'
            symfony-versions: '^7'
          # 8.4
          - php-versions: '8.4'
            phpunit-versions: '^11'
            symfony-versions: '^3'
          - php-versions: '8.4'
            phpunit-versions: '^11'
            symfony-versions: '^4'
          - php-versions: '8.4'
            phpunit-versions: '^11'
            symfony-versions: '^5'
          - php-versions: '8.4'
            phpunit-versions: '^11'
            symfony-versions: '^6'
          - php-versions: '8.4'
            phpunit-versions: '^11'
            symfony-versions: '^7'
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2, phpunit:${{ matrix.phpunit-versions }}
      - name: Checkout
        uses: actions/checkout@v6
      - name: Remove composer.lock and dev dependencies
        run: |
          rm composer.lock
          composer remove --dev --no-update phpstan/phpstan phpunit/phpunit symplify/easy-coding-standard captainhook/captainhook ramsey/conventional-commits
      - name: Require matrix symfony/yaml
        run: composer require --no-update symfony/yaml:${{ matrix.symfony-versions }}
      - run: composer update --ignore-platform-reqs
      - name: Test with phpunit
        run: phpunit
